@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,900&display=swap');

:root{
  --primary-blue: rgb(0, 0, 255);
  --primary-green: rgba(46, 248, 6, 0.979);
  --primary-white: #fff;

}


body{
  font-family: 'Montserrat', sans-serif;
}
/*NAVBAR*/
.logo{
  width:5.25rem;
}

/*MENU LINK*/
nav a.nav-link{
  font-weight: .05rem;
  letter-spacing: 0.03rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav li a{
  margin-right: 0.75rem;
  margin-left: .075rem;
  color:var(--primary-blue) !important;
  border-top: 0.18rem solid var(--primary-white);
}

.navbar-brand {
  max-width: 5.25rem;
  padding:1px !important;
  height:4rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.18rem solid var(--primary-green);

}

.navbar-nav > li > a:hover{
  border-top: 0.18rem solid var(--primary-green);
}

